body {
  background-color: #D3D3D3;
}
.main-card {
  background-color: #ffffff;
  max-width: 100%;
  color: #000000 !important;
  height: 40rem;
}
.days-checkbox {
  font-size: 15px;
}
.days-checkbox-item {
  padding-left: 2px;
}
.datepicker {
  width: 100%;
}
.list-group {
  height: 500px;
  overflow-y: scroll;
}
.list-group-item {
  display: flex;
}
.li-event-name {
  padding-left: 10rem;
  text-align: center;
}